/* css for Board component */

.container {
    width:30vw;
    height:300px;
    margin:100px auto;
    text-align:center;
    background-color: rgb(127, 127, 175);
    padding:30px;
}
.header {
    margin-bottom:10px;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
.board-row {
    text-align:center;
    margin-left:120px;
}

.square {
    
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}
.square:focus {
    outline: none;
  }

.clear-btn {
    margin-top:10px;
    padding:5px;
}
.show {
    height:100px;
    width:200px;
    background:linear-gradient(#e66465, #9198e5);
    position:fixed;
    top:120px;
    left:40vw;
    border-radius:10px;
    margin:0 auto;
    color:rgb(17, 17, 39);
    padding:40px;
}

.winner-text {
    font-size: 30px;;
}
.close {
    position: relative;
    left:128px;
    bottom:40px;
    border:none;
    font-size: 15px;
    color:#fff;
}
.close:hover {
    cursor: pointer;
}